@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10ch;
  }
}

@keyframes erase {
  from {
    width: 10ch;
  }
  to {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Tailwind custom animation */
@layer utilities {
  .animate-typing {
    animation: typing 3s steps(10, end) forwards,
      erase 3.5s steps(10, end) 4.5s forwards, blink 0.6s infinite;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
  }
}
